@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    background: #ddd;
}

.wrapper {
    margin: 0 auto;
    /* max-width: 1440px; */
    width: 100%;
    min-height: 100dvh;
    background: #efefef;

    position: relative;
}

/* reusable css start */

.container {
    width: 100%;
    padding: 0 135px;
}

.title {
    font-size: 36px;
    font-weight: 500;
    line-height: 42px;
    color: #363853;
    text-transform: capitalize;
}

.title span {
    color: #FF7A50;
}

.subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    padding: 8px 16px;
    border: none;
    outline: none;
    background: none;
    border-radius: 5px;
    border: 2px solid #FF7A50;
    background: #FF7A50;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    color: #FF7A50;
    background: transparent;
}

.btn-primary:active {
    background: #FF7A50;
}

.btn-secondary {
    padding: 8px 16px;
    border: none;
    outline: none;
    background: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}

.btn-secondary:hover {
    border: 2px solid #FF7A50;
}

.btn-secondary:active {
    background: #FF7A50;
}

/* reusable css end */



/* header start */

header {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 60px;
    background: #efefef;

    position: fixed;
    top: 0;
    left: 0;
}

header .logo {
    margin-right: auto;
    text-decoration: none;
    font-size: 33px;
    line-height: 39px;
    letter-spacing: 5%;
    font-weight: 500;
    color: #363853;
}

header .logo span {
    color: #FF7A50;
}

header .navbar {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 60px;
}

header .navbar li a {
    text-decoration: none;
    color: #363853;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    transition: all 0.3s ease;
}

header .navbar li a:hover,
header .navbar li a.active {
    color: #FF7A50;
}

header > .right {
    display: flex;
    align-items: center;
    gap: 60px;
}

header .search i,
header .cart i {
    font-size: 20px;
    color: #363853;
}

header .cart {
    position: relative;
}

header .cart span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    font-size: 14px;
    border-radius: 50%;
    color: #fff;
    background: #FF7A50;    
    position: absolute;
    top: -14px;
    right: -14px;
}

header #mobileBtn {
    display: none;
}

header #mobileBtn i {
    font-size: 2rem;
}


/* header end */

/* home section start */

.home {
    min-height: 100dvh;
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.home-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home-title {
    font-size: 66px;
    line-height: 78px;
}

.home-subtitle {
    margin-top: 23px;
}

.home-btns {
    margin-top: 45px;
}

.download-btn {
    text-decoration: underline;
}

.home-img {
    width: 100%;
    overflow: hidden;
}

.home-img img {
    width: 100%;
    object-fit: cover;
}

/* home section end */ 

/* categories section start */

.categories {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.categories .section-title {
    text-align: center;
}

.categories-filter {
    margin-top: 55px;
    width: 100%;
    display: flex;
    align-items: stretch;
    gap: 25px;
}

.categories-filter .category {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    border-radius: 8px;
    background: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.categories-filter .category.active {
    background: #FF7A50;
}

.categories-filter .category img {
    transition: all 0.3s ease;

}
.categories-filter .category.active img {
    filter: invert(1);
}

.categories-filter .category span {
    font-size: 20px;
    font-weight: 400;
    line-height: 23.7px;
    transition: all 0.3s ease;
}

.categories-filter .category.active span {
    color: #fff;
}

.foods-container {
    margin-top: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.foods-container .food {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 12px;
}

.foods-container .food .food-img {
    width: 60%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.foods-container .food .food-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foods-container .food .stars {
    margin-top: 10px;
    display: flex;
    gap: 2px;
}

.foods-container .food .stars i {
    color: #FAC412;
}

.foods-container .food .food-name {
    margin-top: 27px;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.78px;
    color: #363853;
    text-align: center;
}

.foods-container .food .food-price {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    line-height: 17.78px;
    text-align: center;
    color: #363853;
}

.foods-container .food .addBtn {
    margin-top: 10px;
    border: none;
    padding: 7px 13px;
    border-radius: 2px;
    background: #FF7A50;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.78px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
}

.foods-container .food .addBtn:hover {
    background: #ff9474;
}

.foods-container .food .addBtn:active {
    background: #FF7A50;
}

.categories .controls-indicators {
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.categories .controls-indicators > button {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid #FF7A50;
    color: #FF7A50;
    font-size: 18px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.categories .controls-indicators > button:hover {
    background: #FF7A50;
    color: #fff;
}

.categories .controls-indicators ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

.categories .controls-indicators ul li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #363853;
}

.categories .controls-indicators ul li.active {
    background: #FF7A50;
}

/* categories section end */